<img src="{{gameImg}}">
<p class="zagolovok">{{gameName}}</p>
<button type="button" class="btn btn-success">Запустить</button><br>
Избранный <input [checked]="gameIzbr" type="checkbox" (click)="change(true)">
