<div class="row mb-3">
  <div class="col-md-12">Category</div>
  <div class="one_game_cat col" (click)="changeCat(0)">All</div>
  <div class="one_game_cat col" (click)="changeCat(-1)">Selected</div>
  <div class="one_game_cat col" *ngFor="let kat of kategories" (click)="changeCat(kat.ID)">{{kat.Name.en}}</div>
</div>
<!--<div class="row mb-3">
  <div class="col-md-12">merchants</div>
  <div class="one_game_cat col" (click)="changeMerch(0)">All</div>
  <div class="one_game_cat col" *ngFor="let merch of merchants" (click)="changeMerch(merch.ID)">{{merch.Name}}</div>
</div>-->
<div class="row">
  <!--<div class="col-md-3 text-center" *ngFor="let game of games_izbr"><app-game (onChanged)="onChanged($event)" [gameId]=game.ID [gameIzbr]=izbr_func(game.ID) [gameName]=game.Name.en [gameImg]=game.ImageFullPath></app-game></div>-->
  <ng-container *ngFor="let game of games_vivod;let i = index">
    <div class="col-md-3 text-center" *ngIf="i<counts.value"><app-game (onChanged)="onChanged($event)" [gameId]=game.ID [gameIzbr]=izbr_func(game.ID) [gameName]=game.Name.en [gameImg]=game.ImageFullPath></app-game></div>
  </ng-container>
</div>
<input (change)="reCount()" type="number" #counts value="20"/>
